#scrollBox {
    overflow-y: auto;
    height: 250px;
    padding: 1rem;
}

/* Hides the scrollbar. Don't ask me how, just trust me... */
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.container {
    float: auto;
}

.jumbotron {
    /* background-color: #ff4800; */
    /* font-family: 'Permanent Marker', cursive; */
    border: 100px;
    border-color: black;
}

#furr {
    font-family: 'Permanent Marker', cursive;
}