/* Website's primary color: #F19483 */

#scrollBox {
    overflow-y: auto;
    height: 250px;
    padding: 1rem;
}

/* Hides the scrollbar. Don't ask me how, just trust me... */
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.container {
    float: auto;
}

.jumbotron {
    padding:0px;
    margin: 0px;
    border: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* .display-4 {
    font-size: 60px;
} */

#furrTitle, #furrNav {
    font-family: 'Permanent Marker', cursive;
}

#furrTitle {
    color: #F19483;
    font-size: 33px;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

#furrNav {
    color: #F19483;
}

.titleBox {
    background-size: 50% 50%;
}

#appDesc {
    font-family: 'Permanent Marker', cursive;
    color: #F19483;
    font-size: 25px;
}

#petCarousel {
    max-width: 100%;
    height: 60%;
    align-self: center;
    padding: 25px 100px 25px 100px;
}

#welcome {
    font-family: 'Maven Pro', sans-serif;
    font-size: 36px;
    padding-left: 100px;
}

#webDesc {
    font-family: 'Maven Pro', sans-serif;
    font-size: 24px;
    padding-left: 125px;
    padding-right: 400px;
    text-align: justify;
}

footer {
    background-color: #373C38;
    border-top-color: #F19483;
    
}

#text {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
}