#scrollBox {
    overflow-y: auto;
    height: 250px;
    padding: 1rem;
    text-align: justify;
}

/* Hides the scrollbar. Don't ask me how, just trust me... */
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}